/* Set default font family for all elements */
* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
/* Set margin, background color, and width for the body */
body {
    margin: 0;
    width: 100%;
    background-color: rgb(3, 0, 31);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
  
/* Style the header with letter-spacing, color, and background gradient */
 header {
    letter-spacing: 3px;
    color: white;
    background: rgb(5, 0, 113);
    background: radial-gradient(
      circle,
      rgba(5, 0, 113, 1) 15%,
      rgba(14, 41, 133, 1) 60%,
      rgba(65, 15, 143, 1) 100%
    );
}
  
/* Style the h1 with margin, padding, and box shadow */
h1 {
    margin: 0;
    padding: 30px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.399);
    text-align: center;
}
  
/* Style the h2 with margin-top, padding, text-align, and width */
h2 {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
}
  
/* Style the container with flex display and space-between justification */
.container {
    display: flex;
    justify-content: space-between;
}
  
  /* Set margin for sections */
section {
    margin: 10px;
}

/* Style the left container with width, flex display, and column direction */
.left-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}
  
/* Style the search box with flex display, column direction, alignment, padding, border, and margin */
.searchBox,
.historyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 0px;
}
  
/* Style the location search input with width, box-sizing, padding, margin, and font size */
.locationSearch {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
    font-size: large;
}
  
/* Style the search button with width, box-sizing, padding, margin, border style, background color, border radius, font size, and cursor */
.searchBtn,
.clearBtn {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    margin-top: 10px;
    border-style: none;
    background-color: rgb(177, 206, 255);
    border-radius: 2px;
    font-size: large;
    cursor: pointer;
}
  
/* Set padding-left to 0 for the history list */
.historyList {
    padding-left: 0px;
    width: 100%;
    margin-top: 0px;
}

/* Style the history element with background color, border radius, text-align, margin, padding, cursor, and font size */
.historyElement {
    background-color: rgb(185, 185, 185);
    border-radius: 2px;
    text-align: center;
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
}
  
/* Style the right container with width, flex display, and column direction */
.right-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}
  
/* Style the current box with background gradient, border radius, and box shadow */
.currentBox {
    background: rgb(116, 109, 255);
    background: linear-gradient(
      45deg,
      rgb(135, 129, 255, 0.7) 0%,
      rgb(160, 160, 255, 0.7) 32%,
      rgb(81, 191, 255, 0.7) 100%
    );
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
}

/* Style the location-date-icon with margin-top, margin-left, and text-align */
.location-date-icon {
    margin-top: 0;
    margin-left: 20px;
    text-align: start;
}
  
/* Style the current section with padding-inline-start */
.currentSection {
    padding-inline-start: 20px;
}
  
/* Remove default list style and set margin for list items */
li {
    list-style: none;
    margin: 10px;
    margin-left: 20px;
}
  
/* Style the forecast box with background gradient, border radius, and box shadow */
.forecastBox {
    background: rgb(116, 109, 255);
    background: linear-gradient(
      45deg,
      rgb(135, 129, 255, 0.7) 0%,
      rgb(160, 160, 255, 0.7) 32%,
      rgb(81, 191, 255, 0.7) 100%
    );
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
}
  
/* Style the forecast section with flex display and space-around justification */
.forecastSection {
    display: flex;
    justify-content: space-around;
}
  
/* Style the forecast card with background gradient, padding, and border radius */
.forecastCard {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 230, 0.2) 50%,
      rgba(255, 239, 208, 0.4) 100%
    );
    padding: 10px;
    border-radius: 5px;
}
  
/* Apply styles for devices with max-device-width of 905px */
@media screen and (max-device-width: 1014px) {
    .forecastSection {
      flex-direction: column;
      justify-content: flex-start;
    }
}

/* Apply styles for devices with max-device-width of 905px */
@media screen and (max-device-width: 968px) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .left-container{
        width: 70%;
    }
}
  
/* Apply styles for devices with max-device-width of 430px */
@media screen and (max-device-width: 430px) {
    h2 {
      padding: 0px;
      padding-top: 10px;
    }
}